/*GENERAL */
body {

}

h2 {
	font-family: 'Exo 2 100', sans-serif;
	color: #414142;
	margin-top: 50px;
}

hr {
	width: 80px;
	border-top: 5px solid #2aa2ef;
	margin-left: 0;
	margin-top: 10px;
}
/*HEADER */

header { 
	background-color: #2AA2EF;
	height: 740px;
	text-align: center;
}

.navbar {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: white;
}

button.navbar-toggle.collapsed{
	padding-bottom: 4px;
}

button.navbar-toggle{
	padding-bottom: 4px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-size:2rem;
}

.navbar-default .navbar-nav>li>a :hover{
	color: #777;
}

.subheading {
	margin-top: 150px;
	color:white;
}

h1,p.lead {
	text-align: center;
}

h1 {
	font-size: 90px;
}

p.lead {
	font-size: 30px;
	
}

header .fa-code {
	font-size: 90px;
}

.logo img {
	height: 60px;
	width:60px;
}
/*COMPETENCES*/
#competences {
	height: 500px;
	background: url(../img/bureau.jpg) no-repeat center;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover
}


#competences hr{
	margin-bottom: 35px;
}


#competences img {
	padding-top: 50px;
}

.titre-competence {
	margin-top: 30px;
	margin-bottom: 100px;
	font-size: 2em;
	text-align: center;
}

#competences i {
	font-size: 4.2rem;
	margin-left: 150px;
	margin-bottom: 0;
	color: #2aa2ef;
}

/*PORTFOLIO*/

#portfolio img {
	height: 190px;
	width: 331px;
	margin-bottom: 30px;
	border : 1px solid #b5bbbe;
}

#portfolio p {
	margin-bottom: 60px;
	text-align: center;
	font-weight: bold;
}

/*EXPÉRIENCES*/
#experiences {
	height: 500px;
	margin-top: 25px;

}

.date {
	font-style :italic;
	text-align: center;
	margin-top: 100px;
	font-size: 1.8rem;
}
h3 {
	color: #2aa2ef;
	text-align: center;
	margin-top: 0px;
	font-weight: 700;
	font-size: 2.3rem;
}

h4 {
	text-align: center;
	font-size: 2rem;
}

.lien {
	color:#2aa2ef ;
	font-style: bold
	font-size:1.7rem;
}

#experiences p {
	text-align: center;
	font-size:1.5rem;


}

/*FORMATIONS*/
#formation {
	height: 400px;
	/*background: url(../img/desk.png) no-repeat center;
    background-size: auto, cover;*/
}


/*TELECHARGER*/
.telecharger {
	width: 250px;
	height: 60px;
	background-color: #2aa2ef;
	margin: auto;
}

.telecharger img {
	height: 40px;
	margin-left: 60px;
	margin-top: 10px;
}

.titre-cv {
	color: white;
	font-size : 3.2rem;
	margin-top: 10px;
}

/*CONTACT*/

#contact{
	height: 500px;
	margin-top: 40px;
}

.contact-titre{
	font-size:4rem;
	max-width: 600px;
}

.rectangle-bleu {
	width: 250px;
	height: 80px;
	background-color: #2aa2ef;
	color: white;
	font-size: 1.2rem;
	text-align: center;
	margin-left: 50px;
	margin-top: 20px;
}

.mail {
font-size: 2rem;
margin-top: 10px;
margin-left: 0;
}
#contact img {
	margin-left: 10px;
}
#contact .col-md-6 {
	padding-left: 0;

}
.col-lg-5 {
	padding-right: 0;
}

/*FOOTER*/
footer {
	height: 250px;
	background-color: #2aa2ef;
}

footer img {
	height: 60px;
}

footer .row {
margin-top: 70px;
}

footer .row .col-md-3 a {
	font-size: 1.5em;
	color: white;
}

footer .col-lg-8 {
	margin-top: 20px;
}

footer p {
	text-align: center;
	color: white;
	margin-top: 70px;
}